#firstextenson {
  height: max-content;
  width: max-content;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  color: white;
  background-color: black;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid tomato;
  padding: 10px;
}
